.AddFolder {
  margin: 0;
  padding: 10px;
}

.AddFolder__form {
  --form-height: 100px;
  background-color: #010d1e;
  color: #cacaca;
  height: var(--form-height);
  margin-bottom: 8px;
  max-width: 380px;
  padding: 8px 0 8px 8px;
  position: relative;
}

.AddFolder__form label {
  display: block;
  font-family: var(--custom-font);
  margin: 0;
  max-width: 80%;
  min-height: 24px;
}

.AddFolder__form h2 {
  margin: 0;
  font-size: 20px;
}

.AddFolder__form input,
.AddFolder__form textarea,
.AddFolder__form select {
  font-size: 14px;
  padding: 8px;
  width: 300px;
}

.AddFolder__form select {
  height: 33px;
}

.AddFolder__form button {
  --form-button-height: 32px;
  background-color: #041a3a;
  border: 0;
  color: #bdbcbc;
  float: right;
  font-size: 12px;
  height: var(--form-button-height);
  position: relative;
  top: calc((var(--form-button-height) + 68px) * -1);
  transform-origin: right bottom;
  transform: rotate(-90deg);
  width: calc(var(--form-height));
}

.AddFolder__form button:hover,
.AddFolder__form button:focus {
  background-color: #29862e;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.AddFolder__form button:disabled {
  opacity: 0.3;
  background-color: #041a3a;
  color: #bdbcbc;
  font-weight: normal;
}

.required {
  color: #c51244;
}
